<section class="title2">
  Add a new contact
</section>
<form action='/contact/' method='post'>
  First name: <input type='text' name='first_name'>
  Last name: <input type='text' name='last_name'>
  Email address:<input type='text' name='email'>
  Note: <input type='text' name='note'>
  <input type='submit' value='New Contact'>
</form>
