<% Contact.all.each do |contact| %>
<section class='contact'>
  <p><%= contact.first_name %> <%= contact.last_name %> (<%= contact.email %>)</p>
    <h4><a href="#">Edit</a> | <a href="#">Delete</a></h4>
</section>
<% end %>
