<% Contact.all.each do |contact| %>
<section class='contact'>
  <p><%= contact.first_name %> <%= contact.last_name %> (<%= contact.email %>)</p>
    <h4><a href="/contact/update">Edit</a> | <a href="/contact/delete">Delete</a></h4>
</section>
<% end %>
