<section class="title">
  <h1>Welcome to Kathy's CRM</h1>
    <div class="list_link">
    <ul>
      <li><a href="/contact">View contact list</a></li>
      <li><a href="/edit">Edit the contact list</a></li>
    </ul
  </div>
</section>
